/* About header-container  */
.header { border-bottom: 1px solid #ECECEC;}
.header-studio {display: flex;
 
}
.container {
    width: 1200px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
